.p1{
    font-family: "Agdasima", serif;
    font-weight: 400;
    font-style: normal;
    color: aqua;
    text-shadow: 5px 8px 4px greenyellow;

}
.p2{
    color: greenyellow;
    text-shadow: 5px 8px 7px aqua;}
   
    

