.h1{
    text-align: center;
    color: red;
}
.p1{
    font-family: "Agdasima", serif;
  font-weight: 400;
  font-style: normal;
  color: darkolivegreen;
}
.h2{
    text-align: center;
    color: red;
}
.p2{
    color: darkolivegreen;
}