

    button{color: brown;
        background-color: gold;
        font-size: 50px;

    }
    i{color: aqua;
        background-color:black;
        font-size: 45px;

    }
    h2{color: blueviolet;
        background-color: greenyellow;
        font-size: 35px;
















}

