form{
    color: aqua;
}
input[type = gmail]{
    border: 8px;
    border-radius: 3px red;
    padding: 5px;
    margin: 5px;
    
}
input[type = password]{
    border: 15;
    border-radius: 18px gray;
    padding: 6px;
    margin: 6px;
    
}
label{
     text-shadow: 5px 8px 10px aqua;
}
